.heading {
  font-family: "TeXGyreAdventor", "Century Gothic", "Yu Gothic", "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: normal;
}

body {
  font-family: "TeXGyreAdventor", "Century Gothic", "Yu Gothic", "Ubuntu", sans-serif;
  font-weight: 300;
}

.navbar {
  margin-bottom: 1rem;
}

.dashed-text-pointer {
  text-decoration: underline dashed currentcolor;
  cursor: pointer;
}

.catalog-page-list-item-img {
  max-height: 12rem;
}

.catalog-item-page-img, .reservation-page-img {
  max-height: 12rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.catalog-page-col {
  margin-bottom: 2rem;
}

.avail-to-book {
  color: green;
}

.being-read {
  color: red;
}

@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

.div-label-for {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
